@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Jersey+10+Charted&display=swap');

.allimage {
  display: flex;
  justify-content: center; 
  align-items: flex-start; 
  gap: 12px;
  padding-left: -10px;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer img {
  max-width: 100px;
  max-width: 260px; 
  height: auto;
  border-radius: 10px; 
  transition: transform 0.3s ease; 
}

.imageContainer img:hover {
  transform: scale(0.9); 
}

.hotelName {
  margin-top: 5px; 
  text-align: center;
}
